.cabecalho{
	height: 40vh;
	width: 100%;
	color: aliceblue;
}
.img-fundo{
	position: absolute;
	height: 40vh;
	width: 100%;
	filter: blur(2px) contrast(1);
	background-attachment: fixed;
	background-size: cover;
	box-shadow: 0px 0px 0px 3px black;
}
.infos{
	height: 40vh;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.infos > .titulo{
	display: flex;
	font-size: 3em;
	margin: 0px;
}
.traco{
    border: #c7c6c6 solid 0.5px;
    width: 940px;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
}
/* -------------------------------------------------------------- */
.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	min-height: 60vh;
	background-color: #ebebeb;
}
.conteiner{
	display: flex;
	flex-direction: row;
	padding: 20px;
	justify-content: center;
	flex-wrap: wrap;
}
/* --------------------------------------------------------- */

.card{
	width: 20%;
	height: 150px;
	background-color: rgb(255, 255, 255);
	margin: 10px;
	font-size: 14px;
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	border-radius: 3px;
}

.card > .titulo{
	background-color: #4f6065;
	border-radius: 3px 3px 0 0 ;
	font-size: 2em;
	width: 100%;
	height: 10vh;
	text-align: center;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
}
.card .submenu-lista{
	padding: 0;
	margin: 0;
	height: 100%;
	display: flex;
	position: relative;
	text-align: center;
	flex-direction: column;
	justify-content: center;
}
.submenu-lista-item{
	display: flex;
	position: relative;
	list-style: none;
	text-decoration: none;
	padding: 0;
    margin: 0 auto;
	min-width: max-content;
}

a{
	text-decoration: none;
	color: black;
}

.rodape {
	width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 2vh 0;
	text-align: center;
}